<!DOCTYPE html>
<html lang="en" ng-app="sinUp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Trang chủ</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg shadow fixed-top fw-bold"
        style="background-color: #faf5e9; height: 57px"
      >
        <div
          class="container-xxl"
          style="background-color: #faf5e9; height: 57px"
        >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarSupportedContent"
          >
            <ul class="navbar-nav mb-2 mb-lg-0" style="width: 300px">
              <li class="nav-item">
                <a class="nav-link" href="/" style="color: #003400"
                  >Trang chủ</a
                >
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#!/timkiem" style="color: #003400"
                  >Tìm kiếm</a
                >
              </li> -->
            </ul>
            <a class="navbar-brand p-0" href="#!">
              <img
                src="/img/logo.png"
                alt="Logo"
                width="100"
                class="d-inline-block align-text-top img-fluid h-100 object-fit-cover"
              />
            </a>
            <div style="width: 300px"></div>
          </div>
        </div>
      </nav>
    </header>
    <div
      style="width: 500px; margin: 120px auto"
      class="bg-white p-4 rounded"
      ng-controller="sinInController"
    >
      <!-- Pills navs -->
      <ul class="nav nav-pills nav-justified mb-5" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="tab-login" href="/login.html">Login</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" href="/register.html">Register</a>
        </li>
      </ul>
      <!-- Pills navs -->

      <!-- Pills content -->
      <div class="tab-content">
        <div
          class="alert alert-warning alert-dismissible fade show"
          ng-show="isValid"
          role="alert"
        >
          <strong>Thất Bại !! </strong> {{notifyError}}
          <button
            type="button"
            class="btn-close"
            ng-click="closeNotifyError()"
          ></button>
        </div>
        <div class="">
          <form ng-submit="sinIn()">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="loginName"
                >Email or username</label
              >
              <input
                type="email"
                id="loginName"
                class="form-control"
                name="email"
                ng-model="user.email"
              />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="loginPassword">Password</label>
              <input
                type="password"
                id="loginPassword"
                class="form-control"
                name="password"
                ng-model="user.password"
              />
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <div class="col-md-6 d-flex justify-content-center"></div>

              <div class="col-md-6 d-flex justify-content-center">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>
                Bạn chưa có tài khoản?? <a href="./register.html">Register</a>
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- Pills content -->
    </div>

    <footer
      class="border border-top bg-black"
      style="margin-top: 250px; color: #fbebce"
    >
      <div class="row container mx-auto pt-3 g-5">
        <div class="col col-lg-4">
          <p class="text-uppercase">KẾT NỐI VỚI CHÚNG TÔI</p>

          <p>
            <a class="link-opacity-30-hover" href="#"
              >Đăng ký để nhận thông tin mới nhất về bộ sưu tập, chiến dịch và
              video.</a
            >
          </p>
          <p>
            <a class="link-opacity-30-hover" href="#">Theo dõi chúng tôi</a>
          </p>
        </div>

        <div class="col col-lg-8">
          <p class="text-uppercase">Dịch vụ</p>

          <p>
            <a class="link-opacity-30-hover" href="#">Dịch vụ bảo dưỡng</a>
          </p>
          <p>
            <a class="link-opacity-30-hover" href="#">Dịch vụ cá nhân hóa</a>
          </p>
          <p>
            <a class="link-opacity-30-hover" href="#">Nghệ thuật tặng quà</a>
          </p>
        </div>
      </div>
    </footer>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/ajax.googleapis.com_ajax_libs_angularjs_1.8.2_angular.min.js"></script>
    <script>
      var app = angular.module("sinUp", []);
      app.controller("sinInController", function ($scope, $window, $http) {
        $scope.isValid = false;
        $scope.notifyError = "";
        $scope.user = {
          email: "",
          password: "",
        };

        $scope.closeNotifyError = function () {
          $scope.isValid = false;
        };
        $scope.sinIn = function () {
          if ($scope.user.email === "" || $scope.user.password === "") {
            $scope.notifyError =
              "Không được để rỗng!! Xin nhập đầy đủ thông tin";
            $scope.isValid = true;
            return;
          }

          $http({
            url: "http://localhost:3000/user",
            method: "GET",
            params: $scope.user,
          }).then(function (res) {
            if (res.data.length == 0) {
              $scope.notifyError =
                "Email hoặc password không chính xác! Xin mời nhập lại";
              $scope.isValid = true;
            } else {
              $scope.userAccount = JSON.stringify(res.data);
              sessionStorage.setItem("user", $scope.userAccount);
              $window.location.href = "/index.html";
            }
          });
        };
      });
    </script>
  </body>
</html>
