<div class="row container mx-auto" style="margin-top: 100px">
  <div class="col col-lg-4">
    <img
      src="{{product.img}}"
      class="img-fluid"
      alt="pro1"
      style="border-radius: 25px 0 0 25px"
    />
  </div>
  <div class="col col-lg-8">
    <div
      class="alert alert-warning alert-dismissible fade show"
      ng-show="isValid"
      role="alert"
    >
      <strong>Thất Bại !! </strong> {{notifyError}}
      <button
        type="button"
        class="btn-close"
        ng-click="closeNotifyError()"
      ></button>
    </div>
    <form>
      <input type="hidden" ng-model="product.img" />
      <input type="hidden" ng-model="product.name" />
      <h1>{{product.name}}</h1>
      <!-- <h5>{{product.img}}</h5> -->
      <h3 class="d-flex align-items-center gap-2">
        <del class="text-warning fs-5">$000</del>${{product.price}}
      </h3>
      <p>{{product.desc}}</p>
      <p>Danh mục: {{nameCategory}}</p>
      <hr />
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Số lượng</label
        >
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          min="1"
          ng-model="product.quanlity"
        />
      </div>

      <div class="mb-3">
        <label for="validationCustom04" class="form-label">Size</label>
        <select
          class="form-select"
          id="validationCustom04"
          ng-model="product.size"
        >
          <option ng-repeat="size in sizes" value="{{size.size}}">
            {{size.size}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="validationCustom05" class="form-label">Color</label>
        <select
          class="form-select"
          id="validationCustom05"
          ng-model="product.color "
        >
          <option ng-repeat="color in colors" value="{{color.color}}">
            {{color.color}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">
          Mua ngay <i class="bi bi-heart-fill"></i>
        </button>
        <button class="btn btn-primary" ng-click="addCart(product)">
          <i class="bi bi-cart"></i> Thêm vào giỏ hàng
        </button>
      </div>
    </form>
  </div>
</div>
